.card {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgba(239, 236, 231, 0.7);
    padding: 20px 20px;
}

.form-group {
    margin-bottom: 14px;
    color: #342620;
}

.form-control {
    width: 95%;
    margin-top: 4px;
    color: #342620;
    background-color: #fff;
    border: 1px solid #d1af8c;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

.num input[type="number"] {
    -moz-appearance: textfield;
    width: 10%;
    color: #342620;
    border: 1px solid #cb7544;
    font-size: 16px;
    text-align: center;
    padding: 8px;
    outline: none;
}

.num input[type="number"]::-webkit-inner-spin-button,
.num input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.num .input-group-btn button {
    color: #fff;
    background-color: #cb7544;
    border: 1px solid #cb7544;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.num .input-group-btn button:hover {
    border: 1px solid #9b5f3d;
    background-color: #9b5f3d;
    transition: background-color 0.2s ease;
}

.decrement  {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.increment {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-success,
.btn-danger {
    border: none;
    border-radius: 5px;
    padding: 12px 15px;
    margin-top: 6px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.btn-success {
    background-color: #279545;
    color: #b7f3e4;
}

.btn-danger {
    background-color: #d23528;
    color: #f3bbb7;
}

.btn-success:hover,
.btn-danger:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}